.box {
  height: 60px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-family: Verdana, Arial, Sans-Serif;
  opacity: .95;
}

.a {
  background-color: #000000;
}

.b {
  background-color: #0d1526;
}

.c {
  background-color: #1a2b4c;
}

.d {
  background-color: #264073;
}

.e {
  background-color: #31549b;
}
